
.menu-button {
    position: fixed;
    top: 22px;
    right: 30px; 
    font-size: 30px; 
    background: rgb(180, 180, 180);
    border: none;
    color: #333333; 
    font-weight: bold; 
    cursor: pointer;
    z-index: 1000; 
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .menu-button:hover {
    background-color: #f0f0f0; 
    color: #000000; 
  }
  
